bin
obj
Migrations
log
/LoveMeHandMake2.v12.suo
/LoveMeHandMake2/Properties/PublishProfiles/Default.pubxml
/LoveMeHandMake2/Properties/PublishProfiles/Default.pubxml.user
/LoveMeHandMake2/Properties/PublishProfiles/MyDefault.pubxml
/LoveMeHandMake2/Properties/PublishProfiles/MyDefault.pubxml.user
